$primary-background-color: #F2F4FF;
$primary-font-color: #1B9BD7;
$white-color:#fff;
$primary-button-gradient:270deg, #1A87BB 0%, #1B9BD7 100%;
$secondary-button-gradient:270deg, #0C215A 0%, #243D82 100%;
$secondary-background-color:#C2EDFF;
$primary-border-color:#35C3FF;
$secondary-font-color:#C5C5C5;
$ternary-font-color:#999999;
$black-color:#333;
$negative-background-color:#FFE3E0;
$negative-border-color:#F12A2A;
$negative-font-color:#FF3E2C;
$green-button-gradient:90deg, #25D366 0%, #1CA24D 100%;
$green-color:#25D366;
$grey-color:#6E6E6E;
$orange-color:#FFB818;
$red-color:#FF3E2C;
$dark-blue: #243D82;
$red-button-gradient:90deg, #FF3E2C 0%, #C12617 100%;
$light-blue: #c2edfe
